<a href="https://colab.research.google.com/github/MansurCompAI/DataScience_mohirdev/blob/master/first_nb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Google Colaboratory haqida
[![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1vLA1pVFUXX2IiBvNuTWMzlE6UF7pxA35#scrollTo=zaAnCo4kz__d&uniqifier=1)

In [ ]:
print('hello world')

hello world

# **File loading**

In [ ]:
import pandas as pd

my_file = pd.read_csv('./sample_data/california_housing_train.csv')
my_file.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

# **GPU checking**

In [ ]:
import torch
torch.cuda.is_available()

True